label.green{
    color:#009688;
}

.noAutoFill{
    autocomplete:off;
}

.free{
    background-color:#287368;
}

.taken{
    background-color:#54183B;
}

.background-color{
    background-color: #20365a;
}

.clr-white{
    color:white;
}

.clr-orange{
    color: #ff6e23;
}

.bgclr-blackgray{
    background-color: #23272F;
}

.bgclr-red{
    background-color: #5a0016;
}
/************************Margins*************************/
.margin-25{
    margin:25px;
}
.margin-left-10{
    margin-left:10px;
}
.margin-left-40{
    margin-left:40px;
}

.margin-top-20{
    margin-top:20px;
}

.margin-top-40{
    margin-top:40px;
}

/************************Borders*************************/

.border-alarm{
    border:solid 1px black;
}

/************************Heights*************************/


.height-200{
    height:200px;
    max-height:200px;
}
.height-150{
     height:150px;
     max-height:150px;
 }


/**********************Font********************/
.fnt-size-80{
    font-size: 80px;
}

.fnt-size-30{
    font-size: 30px;
}